In [3]:
import numpy as np
import pandas as pd

In [27]:
array = np.arange(5)

series = pd.Series(array)

In [29]:
series.values

array([0, 1, 2, 3, 4])

In [31]:
series.mean()

2.0

In [41]:
series.index = [10,20,30,40,50]

In [43]:
series.name = "New name"
series

10    0
20    1
30    2
40    3
50    4
Name: New name, dtype: int32

In [49]:
series = series.astype("float")
series

10    0.0
20    1.0
30    2.0
40    3.0
50    4.0
Name: New name, dtype: float64

In [51]:
pd.Series(['a','b','c'])

0    a
1    b
2    c
dtype: object

In [7]:
my_series = pd.Series(range(5))

my_series

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [11]:
my_series[1:3]

1    1
2    2
dtype: int64

In [13]:
my_series = pd.Series(range(5), index = ["day 0","day 1","day 2","day 3","day 4"])
my_series

day 0    0
day 1    1
day 2    2
day 3    3
day 4    4
dtype: int64

In [15]:
my_series["day 3"]

3

In [19]:
my_series.iloc[2]

2

In [23]:
my_series.iloc[[1,2,3]]

day 1    1
day 2    2
day 3    3
dtype: int64

In [27]:
my_series.loc["day 0"]

0

In [29]:
my_series.loc["day 1":"day 3"]

day 1    1
day 2    2
day 3    3
dtype: int64

In [33]:
my_series_dup = pd.Series(range(5), index = ["day 0","day 0","day 0","day 3","day 3"])

my_series_dup.index

Index(['day 0', 'day 0', 'day 0', 'day 3', 'day 3'], dtype='object')

In [39]:
my_series_dup["day 0"]

day 0    0
day 0    1
day 0    2
dtype: int64

In [45]:
my_series_dup.reset_index(drop=True)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [53]:
my_series_dup.iloc[2]

2

In [61]:
my_series.loc[my_series != 2]

day 0    0
day 1    1
day 3    3
day 4    4
dtype: int64

In [63]:
my_series.loc[my_series.isin([1,2])]

day 1    1
day 2    2
dtype: int64

In [65]:
my_series.loc[my_series > 2]

day 3    3
day 4    4
dtype: int64

In [69]:
 my_series.sort_values(ascending=False)

day 4    4
day 3    3
day 2    2
day 1    1
day 0    0
dtype: int64

In [71]:
new_my_series = pd.Series([1,np.NaN,3,4,5], index = ["day 0","day 1","day 2","day 3","day 4"])
new_my_series

day 0    1.0
day 1    NaN
day 2    3.0
day 3    4.0
day 4    5.0
dtype: float64

In [73]:
new_my_series + 1

day 0    2.0
day 1    NaN
day 2    4.0
day 3    5.0
day 4    6.0
dtype: float64

In [87]:
new_my_series2 = new_my_series.add(1, fill_value = 0).astype('int') 
new_my_series2

day 0    2
day 1    1
day 2    4
day 3    5
day 4    6
dtype: int32

In [97]:
(new_my_series2 + new_my_series) / 2

day 0    1.5
day 1    NaN
day 2    3.5
day 3    4.5
day 4    5.5
dtype: float64

In [103]:
string_series = pd.Series(["day 0","day 1","day 2","day 3","day 4"])
string_series

0    day 0
1    day 1
2    day 2
3    day 3
4    day 4
dtype: object

In [109]:
string_series.str.upper().str.contains("DAY 3")

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [113]:
string_series.str.strip("day").astype('int')

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [119]:
string_series.str[-1].astype('float')

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [125]:
string_series.str.split(' ',expand = True)

     0  1
0  day  0
1  day  1
2  day  2
3  day  3
4  day  4